[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
skip_lock = true

[dev-packages]
flake8 = "*"
mreschke_serverbackups = {editable = true,path = "."}
twine = "*"

[packages]

[requires]
python_version = "3.8"
