[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
click = "*"
prettyprinter = "*"
pyyaml = "*"
sarge = "*"
sh = "*"
ipython = "*"
mreschke_serverbackups = {editable = true,path = "."}

[requires]
python_version = "3.7"
